.parent {
    /* -webkit-column-count: 4;  */
    column-count: 4;
}

.toggleon {
    background-color: yellowgreen;
    height: 50px;
    width: 50px;
}

.toggleoff {
    background-color:darkgreen;
    height: 50px;
    width: 50px;
}

.togglenot {
    background-color:rgb(64, 68, 64);
    color: white;
    height: 50px;
    width: 50px;
}